{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Me - My Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
<div class="contact-container">
  <header class="contact-header">
    <h1>Contact Me</h1>
    <p>I'm always open to discussing new projects or opportunities. Reach out to me!</p>
  </header>
  
  <section class="contact-info">
    <h2>Contact Details</h2>
    <p>Email: mavera@memphis.edu</p>
    <p>Phone: (901)-456-7890</p>
  </section>

  <section class="social-media">
    <h2>Connect with Me</h2>
    <ul>
      <li><a href="https://github.com/OuroborosPi" target="_blank">GitHub</a></li>
    </ul>
  </section>

  <section class="contact-form">
    <h2>Send a Message</h2>
    <form method="post" action="{% url 'contact' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" name="message" class="form-control"></textarea>
      </div>

      <div class="actions">
        <button type="submit" class="btn">Send Message</button>
      </div>
    </form>
  </section>
</div>
</body>
</html>
