{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Professional Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
<div class="home-container">
  <header class="home-header">
    <h1>Welcome to My Professional Portfolio</h1>
    <p>Just a simple college student looking for a H on this assignment</p>
  </header>
  
  <!-- About Me Section -->
  <section class="home-introduction">
    <h2>About Me</h2>
    <p>I'm a dedicated college student with two years of CS courses in my pocket.</p>
    <p>Some of the programming languages I know are Python, Ruby, HTML, CSS.</p>
    <a href="{% url 'about' %}" class="button">Learn More About Me</a>
  </section>
  
  <!-- Projects Section -->
  <section class="home-projects">
    <h2>Featured Projects</h2>
    <p>Take a look at some of my most successful projects (all from this class):</p>
    <a href="{% url 'work' %}" class="button">View My Work</a>
  </section>

  <!-- Contact Section -->
  <section class="home-contact">
    <h2>Get in Touch</h2>
    <p>Here is a form and some contact info to get in touch with me.</p>
    <a href="{% url 'contact' %}" class="button">Contact Me</a>
  </section>
</div>
</body>
</html>
